<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form method="POST">
  {% csrf_token %}
    <input type="text" name="nazwa" value="{{ form.nazwa.value|default_if_none:'' }}" id="nazwa" placeholder="nazwa"/>
    {% for error in form.nazwa.errors %}
      {{ error }}
    {% endfor %}
    <select name="branza" id="branza">
      <options>
        <option value="">---</option>
        {% for branza in branze %}
        <option value="{{ branza.id }}" {% if form.branza.value == branza.id|stringformat:"i" %}
          selected
        {% endif %}>{{ branza }}</option>
        {% endfor %}
      </options>
    </select>
    <input type="checkbox" name="aktywna" {% if form.aktywna.value %} checked {% endif %}/>
    <input type="submit" value="Dodaj" />
  </form>
</body>
</html>